table, th, tr, td {
    border: 1px solid black;
    text-align: center;
}

th {
    border-width: 3px;
}
td {
   
    border-width: 2px;
}
ul {
    list-style-position:inside ;
    box-sizing: border-box;
    padding: 10px;
    text-align: left;
    margin: 0;
}
table {
    width: 80%;
    font-size: 20px;
    margin: 20px auto;
}
tr {
    height: 50px;
    width: 100px;
}
a {
    color: darkblue;
    text-decoration: none;

}